{
  "presets": ["@babel/env"],
  // common.js 和 es6 混用
  "sourceType": "unambiguous",
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
